<%# locals: post, content_label, button_text, button_submitting_text. %>
<%= form_for post,
             url: post.submit_path,
             as: :post,
             html: {
                 class: 'thredded--form thredded--post-form',
                 'data-thredded-post-form' => true,
                 'data-autocomplete-url' => autocomplete_users_path,
                 'data-autocomplete-min-length' => Thredded.autocomplete_min_length,
                 'data-thredded-submit-hotkey' => true,
             } do |form| %>
  <% if post.respond_to?(:parent_id) && post.parent_id.present? %>
    <%= form.hidden_field :parent_id, value: post.parent_id %>
  <% end %>
  <ul class="thredded--form-list">
    <%= render 'thredded/posts_common/form/content',
               form: form, content_label: content_label, preview_url: post.preview_path %>
    <li>
      <button
        type="submit"
        class="thredded--form--submit bg-blue-600 hover:bg-blue-500 text-white font-semibold py-2 px-4 rounded"
        style="display:inline-flex; align-items: center; justify-content: center; min-width: 120px; background-color: #2563eb !important;"
        data-disable-with="<%= button_submitting_text %>">
        <%= button_text %>
      </button>
    </li>
  </ul>
<% end %>
